@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url(./design/manrope-v20-latin-500.woff2);
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url(./design/manrope-v20-latin-700.woff2);
}

:root {
    --dark-gray-blue: #48556a;
    --dark-blue: #6d7f97;
    --gray-blue: #9eafc2;
    --light-gray-blue: #ecf2f8;
    --white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

p, h1, h2 {
  overflow-wrap: break-word;
}

p {
  color: var(--dark-blue);
  text-wrap: pretty;
  font-weight: 500;
}
h1, h2 {
  color: var(--dark-gray-blue);  
  text-wrap: pretty;
  font-weight: 700;
}

body {
    background-color: var(--light-gray-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: var(--white);
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card__img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    object-position: top;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card__header, .card__par, .feature__org, .sharing__org {
    width: 80%;
}

.card__header {
    padding-block: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.card__par {
    font-size: 0.83rem;
    line-height: 1.5;
}

.feature {
    width: 100%;
    display: flex;
    justify-content: center;
}

.feature__org {
    display: flex;
    padding-block: 1rem;
}

.feature__info {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.feature__img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    
}

.feature__name, .feature__date {
    font-size: 0.8rem;
}

.feature__share-btn {
    background-color: var(--light-gray-blue);
}

.feature__share-btn, .sharing__share-btn {
    margin-inline-start: auto;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.share-wrapper {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-inline-start: auto;
    }


.sharing__share-icon, .feature__share-icon {
    justify-self: center;
}

.sharing {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-gray-blue);
    border-radius: 0 0 0.5rem 0.5rem;
}

.sharing__org {
    display: flex;
    font-size: 0.8rem;
    padding-block: 1rem;
    letter-spacing: 0.3rem;
    align-items: center;
}

.sharing__share {
    color: var(--gray-blue);
}

.socials {
    display: flex; 
    gap: 1rem;
    padding-inline: 1rem;
    align-items: center;
}

.sharing__share-btn {
    background-color: var(--gray-blue);
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
        max-width: 50rem;
    }

    .card__img {
        height: 100%;
        width: 21rem;
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .card__header {
        font-size: 1.3rem;
    }


    .pop-up {
        position: absolute;
        background-color: var(--dark-gray-blue);
        width: 15rem;
        bottom: calc(100% + 1rem);
        left: 25%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 1rem;
        border-radius: 0.5rem;
        letter-spacing: 0.3rem;
    }
    .pop-up::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;     
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--dark-gray-blue);
    }
    
    .socials {
       padding-inline-end: 0;
    }

    .hidden {
        display: none;
    }
}